/*.title {
  text-align: center;
}
.main {
  text-align: center;
}
#counts, #counts2 {
  text-align: center;
  font-size: 30px;
  color: blue;
  margin-top: 50px;
}
.cat_name {
  color: red;
  text-align: center;
}*/
